<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${title}">Document</title>
</head>

<body>
    <h1 th:text="${title}"></h1>
    <div th:if="${users.isEmpty()}">No se encontro ningun registro....
    </div>
    <table>
        <thead>
            <tr>
                <th>User firstname</th>
                <th>User lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td>
                <td th:if="${not (user.email != null)}" th:text="${'Email not available'}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>